.logo {
    width: 400px;
}

.upperDiv{
    width: 100vw;
    display: inline-block;
    text-align: center;
    margin-top: 20px; 
    justify-content: center;
}

.lowerDivCourier{
    width: 100vw;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
}

p {
    text-align: center;
    width: 35%;
    margin: 15px auto;
}


